*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ! css for login  */

.outer{
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
}

.left{
  flex-basis: 56%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}


.left > .info{
  background-color: white;
}

.right{
  background-color: yellow;
  flex-basis: 44%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.right > .inner{
  background-color: white;
  width: 350px;
  padding-inline: 40px;
  padding-block: 20px;
}

.inner > form > input{
  display: block;
  margin-bottom: 8px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}